<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.several27.Biblia_Warszawska"
          android:versionCode="1"
          android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16"/>
	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Holo.Light">
		<activity android:name="MainActivity"
		          android:label="@string/app_name"
		          android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
			           android:value=".SearchResultsActivity"/>
		</activity>
		<activity android:name=".ChapterActivity"
		          android:launchMode="singleTop">
			<meta-data android:name="android.app.default_searchable"
		               android:value=".SearchResultsActivity"/>
		</activity>
		<activity android:name=".ContentActivity" android:parentActivityName=".MainActivity"/>
		<activity android:name=".SettingsActivity"/>
		<activity android:name=".SearchResultsActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
			           android:resource="@xml/searchable" />
		</activity>
        <activity android:name=".HistoryActivity"/>
    </application>
</manifest>
